../.idea
.idea/
desktop.ini

# Игнорирование указанных файлов и папок
.env
.timer
cpu.prof
trace.out
tree.txt

cmd/alternative.go5
cmd/backup.go5
cmd/pullWorkers.go5
cmd/secret.go5
cmd/temp.go5
cmd/test.go5
cmd/text
gui/gui.go
utilities/cpuInfo.go
configs.go

db/Records.mwb.bak
*.docx